@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-assistant), sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-comfortaa), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container-page {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}
